.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 600px;
    padding: 60px 20px;
    margin: 0 auto;
    text-align: center;
}

.container form {
    margin-top: 40px;
}

.input_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.input_wrap label {
    width: 100%;
    margin-bottom: 5px;
}

.input_wrap input {
    width: 100%;
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: auto;
}

.btn {
    font-family: Verdana;
    background-color: transparent;
    border: 1px solid;
    padding: 10px 15px;
    border-radius: .25rem;
    color: #E0218A;
    border-color: #E0218A;
    width: auto;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    margin-left: auto;
}

.btn:hover {
    background: #E0218A;
    color: #fff;
}
