<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sentiment Analysis App</title>
    <link rel="stylesheet" href="styles.css">  
</head>
<body>
    <div class="container">
        <h2 style="text-align:center;" >Hello!🦄</h2>
        <h3 style="text-align:center;">Please provide your input for the analysis 🧐</h3>   
        <form action="/analysis" method="post">
            <div class="input_wrap">
                <label for="user_input">Your text goes here:</label>
                <input type="text" name="user_input" id="user_input">
            </div>
            <button type="submit" class="btn">Evaluate!</button>
        </form>
    </div>
</body>
</html>
